
   H1  {
    font-size : 36pt;
    font-family : pink,arial;
    text-align : center;
    background-color :rgba(112, 133, 112, 0.575);
   }
   
   BODY  {
    background-image:url(https://image.winudf.com/v2/image/Y29tLkdvbGRNZWRhbC5DaGVzczYwX3NjcmVlbl8wXzM4NWo4YTV4/screen-0.jpg?fakeurl=1&type=.jpg);
    font-family : arial;
    color : rgb(255, 255, 255);
   }